
<font size = "3" color = "red" >
   <div align="middle">
<h1> Welcome to Rock-Paper-Scissors! </h1>
</font>
<div>
<div>
  <img src='http://www.econtalk.org/archives/Willis/rock%20paper%20scissors.jpg' alt="plane" align="middle">
</div>
