
<font size = "3" color = "red" >
   <div align="middle">
<h1> Welcome to Rock-Paper-Scissors! </h1>
</font>
<div>
<div>
  <img src='http://www.econtalk.org/archives/Willis/rock%20paper%20scissors.jpg' alt="plane" align="middle">
</div>


<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="player_1_name">
  </label>
  <label for="player_2_name">
    Player 2 name
    <input type="text" name="player_2_name">
  </label>
  <input type="submit" value="Submit">
</form>
